body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#headlogo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
}

.header-right {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
}

.header-right > * {
    padding: 10px;
}

#signup {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    
}

.header2 {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.header-right2 {
    background-color: gray;
    width: 400px;
    height: 150px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

#hero2 {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
}

.body1 {
    padding-left: 100px;
    padding-right: 100px;
}

#infoheader {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
}

#box1,
#box2,
#box3,
#box4 {
    background-color:white;
    border: solid #3882F6;
    border-width: 3px;
    border-radius: 9px;
    width: 120px;
    height: 120px;
    color: white;
}

.boxtext {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-evenly;
    text-align: center;
}

.body2 {
    background-color: #E5E7EB;
    padding: 85px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#signature {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}



.footer {
    background-color: #1F2937;
}